In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO   
from sklearn.tree import export_graphviz
import pydotplus

In [2]:
df = pd.read_csv('CHD_trainingdata.csv')
df.head()

,ID,Systolic blood pressure,Diastolic blood pressure,total cholesterol,LDL,HDL,smoking,diabetes,family history,CHD
0,13,166,109,153,139,33,0,0,1,1
1,227,103,88,227,153,33,1,0,1,1
2,233,149,84,254,118,22,0,1,1,1
3,187,104,105,276,125,38,1,0,0,1
4,285,132,83,234,157,15,0,1,0,1

In [3]:
df = df.drop('ID', axis = 1)
df['CHD'].value_counts()

1    269
0    131
Name: CHD, dtype: int64

In [4]:
CHD_train = df[:300]
CHD_train.head()

,Systolic blood pressure,Diastolic blood pressure,total cholesterol,LDL,HDL,smoking,diabetes,family history,CHD
0,166,109,153,139,33,0,0,1,1
1,103,88,227,153,33,1,0,1,1
2,149,84,254,118,22,0,1,1,1
3,104,105,276,125,38,1,0,0,1
4,132,83,234,157,15,0,1,0,1

In [5]:
CHD_test = df[300:]
CHD_test.head()

,Systolic blood pressure,Diastolic blood pressure,total cholesterol,LDL,HDL,smoking,diabetes,family history,CHD
300,127,86,215,116,44,0,0,1,0
301,128,66,194,130,39,0,1,0,0
302,100,67,227,107,37,0,1,0,0
303,112,82,175,127,42,0,1,0,0
304,138,67,204,95,43,0,1,0,0

In [6]:
CHD = CHD_train['CHD'].values
CHD_train = CHD_train.drop('CHD', 1)
CHD

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [7]:
dtree = DecisionTreeClassifier(max_depth=4)
dtree.fit(CHD_train,CHD)

dot_data = StringIO()
export_graphviz(dtree, 
                out_file = dot_data,  
                filled = True, 
                feature_names = list(CHD_train),
                class_names = ['LowRisk','HighRisk'],
                special_characters = True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("tree.pdf")

True

In [8]:
dtree.feature_importances_

array([0.        , 0.        , 0.28216086, 0.23592586, 0.18989619,
       0.22650908, 0.        , 0.06550801])

In [9]:
y_test = CHD_test['CHD'].values
X_test = CHD_test.drop('CHD', 1)

y_predict = dtree.predict(X_test)

y_predict

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1], dtype=int64)

In [10]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.78